.slide{
  position: relative;
}
.splide__slide.is-visible{
  margin-right: 65px !important;
}
.my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}
.splide__arrows{
  position: absolute;
  top: 0px !important;
  right: 74px !important;
  .splide__arrow{
    transform: unset;
    width: 54px;
    height: 54px;
    border-radius: unset;
    background: var(--heid--blue);
    opacity: unset;
    svg{
      filter: invert(100%);
    }
  }
}
.filter__title{
  font-size: 72px;
  line-height: 86px;
  color: var(--black);
  font-family: 'Marmelad-R';
  margin-top: 320px;
  margin-bottom: 42px;
  margin-left: 98px;
  span{
    color: var(--blue);
  }
}
.filter__text{
  font-size: 24px;
  line-height: 130%;
  color: var(--grey);
  opacity: 0.7;
  font-family: 'Lato-Light';
  margin-bottom: 124px;
  margin-left: 98px;
  .fil__span{
    color: var(--black);
    span{
      color: var(--blue);
    }
  }
}
.more__btn{
  margin-left: 98px;
  button{
    font-size: 24px;
    line-height: 29px;
    color: white;
    padding: 29px 91px;
    background: linear-gradient(180deg, #2FA1F3 3.7%, #1179BF 100%);
    box-shadow: 0px 4px 0px #0C60A5;
    border-radius: 10px;
    border: 0;
  }
}
.filter__img{
  position: absolute;
  top: 65px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1350px) {
  .Fill__Slide{
    .slide__info{
      .filter__title{
        font-size: 60px;
        //line-height: 33px;
      }
    }
  }
}
@media (max-width: 1160px) {
  .Fill__Slide{
    .slide__info{
      bottom: -630px;
      .filter__title{
        font-size: 50px;
        //line-height: 33px;
      }
    }
  }
  li{
    //&.splide__slide{
    //  margin-right: unset !important;
    //}
  }
  .filter__img{
    width: 100%;
    //height: 100%;
    img{
      width: 100%;
      height: 100%;
    }

  }
  .splide__pagination{
    display: none !important;
  }
}
@media (max-width: 740px) {
  .filter__title{
    font-size: 28px !important;
    line-height: 33px !important;
  }
  .filter__text{
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 45px;
  }
  .Fill__Slide .slide__info{
    bottom: -185px;
  }
  .more__btn button{
    font-size: 16px;
    line-height: 19px;
    padding: 15px 52px;
  }
}
@media (max-width: 632px) {
  .Fill__Slide .slide__info{
    bottom: -90px;
  }
  .Fill__Slide .slide__info .filter__title{
    margin-top: unset;
    margin-left: 16px;
  }
  .filter__text{
    margin-left: 16px;
  }
  .more__btn{
    margin-left: 16px;
  }
}
@media (max-width: 570px) {
  .Fill__Slide .slide__info{
    bottom: -10px;
  }
}
@media (max-width: 440px) {
  .Fill__Slide .slide__info{
    bottom: 80px;
  }
}