.special__filters {
  margin-top: 300px;
  margin-left: 100px;

  .special__filters--title {
    font-size: 48px;
    line-height: 57px;
    color: var(--black);
    font-family: 'Marmelad-R';
  }

  .special__filters--check {
    form {
      display: flex;
      align-items: center;
      margin: 92px 0;

      .selected {
        display: none;
      }
      .radio {
        padding: 0 24px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #B2B2B2;
        &:nth-child(1) {
          border-radius: 0px 0px 0px 10px;
          &.active {
            border-radius: 0px 0px 0px 10px;
          }
        }
        &:last-child {
          border-radius: 0px 10px 0px 0px;
          &.active {
            border-radius: 0px 10px 0px 0px;
          }
        }
        &.active {
          background: var(--blue);
          border: 1px solid var(--blue);

          label {
            color: white;
            font-family: 'Lato-Medium';
          }
        }
      }
    }

    label {
      font-size: 16px;
      line-height: 19px;
      color: #000;
      margin-left: 24px;
      font-family: 'Lato-Medium';
      white-space: nowrap;
    }

    input {
      width: 22px;
      height: 22px;
      border: 6px solid white;
      border-radius: 50px;
    }

    input:checked label {
      background: red;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 92px;

  .text {
    margin-right: 100px;
  }

  .hr__span {
    width: 250px;
    height: 4px;
    background: #e1e1e1;
    display: block;
    margin-bottom: 64px;
  }

  .title__menu {
    font-size: 36px;
    line-height: 43px;
    color: #282525;
    font-family: 'Marmelad-R';
    max-width: 867px;

    span {
      color: var(--blue);
      margin-left: -11px;
    }
  }

  .text__info {
    font-size: 24px;
    line-height: 130%;
    color: #4F4F4F;
    opacity: 0.7;
    max-width: 867px;
    margin-top: 32px;
  }
}

.filter2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 92px;

  .text {
    margin-left: 100px;
  }

  .hr__span {
    width: 250px;
    height: 4px;
    background: #e1e1e1;
    display: block;
    margin-bottom: 64px;
  }

  .title__menu {
    font-size: 36px;
    line-height: 43px;
    color: #282525;
    font-family: 'Marmelad-R';
    max-width: 867px;
  }

  .text__info {
    font-size: 24px;
    line-height: 130%;
    color: #4F4F4F;
    opacity: 0.7;
    max-width: 867px;
    margin-top: 32px;
  }
}

.video {
  img {
    width: 100%;
  }
}

[data-aos=fade-right] {
  transform: translate3d(1000px, 0, 0);
}

[data-aos=fade-left] {
  transform: translate3d(-1000px, 0, 0);
}

.data__aos {
  transition-duration: 2s !important;
}

@media (max-width: 1700px) {
  .filter {
    .img {
      img {

      }
    }

    .text {
      margin-right: 40px;
    }

    .hr__span {
    }

    .title__menu {
      span {
      }
    }

    .text__info {
    }
  }

  .filter2 {

    .text {
      margin-left: 40px;
    }

    .hr__span {
    }

    .title__menu {

    }

    .text__info {
    }
  }

  .special__filters {
    margin: 200px 0 0 40px;
  }

}

@media (max-width: 1550px) {

  .filter {
    margin-bottom: 40px;

    .img {
      img {
        width: 400px;
        height: 350px;
      }
    }

    .text {
      margin-left: 10px;
    }

    .hr__span {
      margin-bottom: 15px;
    }

    .title__menu {
      font-size: 28px;
      line-height: 33px;

      span {
      }
    }

    .text__info {
      margin-top: 24px;
      font-size: 20px;
      line-height: 130%;
    }
  }

  .filter2 {
    margin-bottom: 60px;

    .img {
      img {
        width: 400px;
        height: 350px;
      }
    }

    .text {
      margin-right: 10px;
    }

    .hr__span {
      margin-bottom: 15px;
    }

    .title__menu {
      font-size: 28px;
      line-height: 33px;

    }

    .text__info {
      margin-top: 24px;
      font-size: 20px;
      line-height: 130%;
    }
  }

  .special__filters {
    .special__filters--title {
      font-size: 28px;
      line-height: 33px;
    }

    .special__filters--check {
      form {
        margin: 30px 0 40px 0;

        .radio {
          height: 35px;
          padding: 0 11px;

          input {
            width: 17px;
            height: 17px;
          }

          label {
            margin-left: 8px;
            font-size: 15px;
            line-height: 12px;

          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .special__filters {
    .special__filters--title {
    }

    .special__filters--check {
      form {
        position: relative;
        flex-direction: column;
        align-items: start;

        .selected {
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: start;
          padding: 0 11px;
          position: relative;
          width: 328px;
          border: 1px solid #B2B2B2 !important;
          border-radius: 0 10px;

          input {
            width: 17px;
            height: 17px;
            border: 6px solid white;
            border-radius: 50px;
          }

          label {
            color: #000;
            font-family: "Lato-Medium";
            margin-left: 8px;
            font-size: 15px;
            line-height: 12px;
          }

          img {
            position: absolute;
            top: 5px;
            right: 18px;
          }
        }

        .radio {
          width: 328px;
          justify-content: start;
          border-radius: 0 10px !important;

          &.active {


          }

          input {

          }

          label {

          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .filter {
    .img {
      img {
        width: 337px;
        height: 284px;
      }
    }

    .text {
    }

    .hr__span {
    }

    .title__menu {
      span {
      }
    }

    .text__info {
      font-size: 12px;
    }
  }

  .filter2 {
    .img {
      img {
        width: 337px;
        height: 284px;
      }
    }

    .text {
      margin-left: 40px;
    }

    .hr__span {
    }

    .title__menu {

    }

    .text__info {
      font-size: 12px;
    }
  }
}

@media (max-width: 650px) {
  .filter {
    margin-bottom: 24px;
    padding: 0 16px;
    flex-direction: column;

    .img {
      margin-bottom: 24px;

      img {
        width: 328px;
        height: 276px;
      }
    }

    .text {
      margin-top: 12px;
    }

    .hr__span {
    }

    .title__menu {
      span {
      }
    }

    .text__info {
    }
  }

  .filter2 {
    padding: 0 16px;
    flex-direction: column-reverse;

    .img {
      margin-bottom: 24px;

      img {
        width: 328px;
        height: 276px;
      }
    }

    .text {
      margin-top: 12px;
    }

    .hr__span {
    }

    .title__menu {

    }

    .text__info {
    }
  }
}

