.all{
  background: #ffffff;
  padding-top: 70px;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;

}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1720px;
  margin: 0px 80px;
  .menu__icon{
    img{
      display: none;
    }
  }
  .search__language{
    display: flex;
    align-items: center;
    .search{
      margin-right: 100px;
    }
  }
}
.menu2{
  padding-top: 90px;
  display: none;
  ul{
    display: flex;
    justify-content: space-around;
  }
}
.menu2,
.menu{
  ul{
    display: flex;
    align-items: center;
    li{
      list-style: none;
      margin: 0px 22px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &:hover{
        transition: all ease .8s;
        span{
          width: 100%;
          height: 2px;
          display: block;
          background: var(--blue);
        }
      }
      a{
        text-decoration: none;
        //font-family: 'Lato-Regular';
        font-size: 24px;
        line-height: 130%;
        color: var(--black);
        &.router-link-exact-active{
          &~span{
            width: 100%;
            height: 2px;
            background: var(--blue);
          }
        }
      }
      span{
        width: 0%;
        height: 2px;
        transition: all ease .8s;
        position: absolute;
        bottom: -4px;
        background: var(--blue);
      }
    }
  }
}
@media (max-width: 1500px){
  .menu2{
    display: block;
    ul{
      padding-left: unset;
    }
  }
  .menu{
    width: 100%;
    ul{
      display: none;
    }
  }
  .all{
    .header{
      .logo{
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 900px){
  .all{
    .header{
      .logo{
        right: unset;
        left: 40px;
      }
    }
  }
}
@media (max-width: 800px) {
  .header .menu__icon img{
    display: block;
    width: 28px;
  }
  .header .menu {
    position: absolute;
    background: white;
    top: 207px;
    left: 0;
    width: 70%;
    height: 100vh;
    display: none;
    ul{
      flex-direction: column;
    }
  }
  .all{
    padding-top: 40px;
    .header{
      margin: 0px 10px;
      .logo{
        left: 60px;
        a{
          img{
            width: 142px;
          }
        }
      }
    }
    .menu2 {
      position: absolute;
      top: 90px;
      left: -1000px;
      z-index: 1;
      padding: 46px 0 0 32px;
      width: 268px;
      //transform: translateX(-268px);
      background: #FFFFFF;
      height: 100vh;
      transition: all ease .8s;
      &.active{
        left: 0;
        transition: all ease .8s;
      }
      ul {
        flex-direction: column;
        align-items: start;

        li {
          margin: 0 0 27px 0;

          a {
            font-size: 24px;
            line-height: 130%;
          }
        }
      }
    }
    //.menu2{
    //  position: absolute;
    //  background: #5ca8f2;
    //  width: 90%;
    //  height: 100vh;
    //  margin-top: 30px;
    //  left: -1000px;
    //  transition: all ease .8s;
    //  &.active{
    //    left: 0;
    //    transition: all ease .8s;
    //  }
    //  ul{
    //    flex-direction: column;
    //    li{
    //      margin-bottom: 40px;
    //    }
    //  }
    //}
  }
  .header .search__language .search{
    margin-right: 24px;
  }
  @media (max-width: 800px) {
    .back{
      transition: all ease .8s;
    }
    .bg_all {
      background: black;
      opacity: 0.4;
      position: absolute;
      z-index: 0;
      top: 90px;
      width: 101vw;
      height: 100vh;
      transition: all ease .8s;

    }
    .all {
      padding: 30px 16px;
      background: #FFFFFF;

      .header {
        .logo {
          display: flex;
          align-items: center;

          a {
            width: 142px;
            height: 40px;
          }
        }

        .active_menu {
          display: block;
          margin-right: 20px;
        }

        .menu2 {
          position: absolute;
          top: 48px;
          left: 0;
          z-index: 1;
          padding: 46px 0 0 32px;
          width: 268px;
          //transform: translateX(-268px);
          background: #FFFFFF;
          height: 100vh;

          ul {
            flex-direction: column;
            align-items: start;

            li {
              margin: 0 0 27px 0;

              a {
                font-size: 24px;
                line-height: 130%;
              }
            }
          }
        }

        .search__language {
          .search {
            margin-right: 24px;

            button {
              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
    .all .active_menu.active::before {
      transform: rotate(45deg) translateY(5px) translateX(6px);
    }
    .all .active_menu.active::after {
      transform: rotate(-45deg) translateY(-2px) translateX(2.7px)
    }
    .all .active_menu.active span::before {
      background: transparent;
      transform: translateX(-50px);
    }
    .all .active_menu.active span::after {
      background: transparent;
      transform: translateX(-50px);
    }
    //.all .header .menu.open ul li a{
    //
    //}
    .all .header .menu.open {
      transform: translateX(0);
      transition: all 0.7s ease-in-out;
    }


  }
  //.back{
  //  background-color: rgba(0,0,0,.6)!important;
  //  position: fixed;
  //  top: 0;
  //  height: 100vh;
  //  left: 0;
  //  z-index: 1;
  //  width: 100vw;
  //  opacity: .6;
  //}
}
.active_menu {
  width: 28px;
  height: 28px;
  position: relative;
  display: none;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    background: #292D32;
    width: 21px;
    height: 2.5px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

  &::after {
    content: '';
    left: 3px;
    position: absolute;
    top: 16px;
    background: #292D32;
    width: 21px;
    height: 2.5px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

  span {
    &::before {
      left: 3px;
      content: '';
      position: absolute;
      bottom: 5px;
      background: #292D32;
      width: 11px;
      height: 1.5px;
      border-radius: 8px;
      transition: all 0.5s ease-in-out;
    }

    &::after {
      left: 3px;
      content: '';
      position: absolute;
      top: 11px;
      background: #292D32;
      width: 11px;
      height: 2.5px;
      border-radius: 8px;
      transition: all 0.5s ease-in-out;
    }
  }

}
